/* Navigation bar */
#nav {
  background-color: #282828;
  text-align: center;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  cursor: default;
  height: 3.5em;
  line-height: 3.5em;
  font-size: $base-font-size;
  font-family: "Quicksand", sans-serif;
  z-index: 9999;
  @media #{$mq-medium} {
    font-size: $base-font-size*1.2;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0px;
    justify-content: center;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
  }

  li {
    display: inline-block;
    padding-left: 0;
  }
  a {
    margin-top: 5px;
    position: relative;
    display: block;
    color: #fff;
    text-decoration: none;
    outline: 0;
    font-weight: 600;
    text-shadow: none;
    border-radius: 8px;
    height: 2.5em;
    line-height: 2.5em;
    padding: 0 1.25em;
    font-size: $base-font-size*1.3;
    @media #{$mq-medium} {
      font-size: $base-font-size*1.5;
    }

    &:hover {
      @media #{$mq-medium} {
        color: #fff;
        background: #383838;
      }
    }

    &.active {
      @media #{$mq-medium} {
        background: #484848;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: -0.6em;
        left: 50%;
        margin-left: -0.75em;
        border-left: solid 0.75em transparent;
        border-right: solid 0.75em transparent;
        border-top: solid 0.6em #282828;
      }
    }
  }
}
/* Sections */
// wrapper style1

body > section {
  margin-bottom: 0;
}

#top {
  padding: 6em 0 3em 0;
  text-align: center;

  .container {
    width: 100%;
    margin-left: 0;
    @media #{$mq-medium} {
      width: 80%;
      display: flex;
      margin: 0 auto;
    }

    &__image {
      border-radius: 100%;
      width: 20em;
      height: 12em;
      margin: 0 auto;
      @media #{$mq-medium} {
        display: block;
        position: relative;
        top: 30px;
        width: 20em*1.3;
        height: 12em*1.3;
      }
      
      img {
        border-radius: 100%;
        width: 60%;
      }
    }
    &__info {
      width: 90%;
      margin: 0 auto;
      font-family: "Quicksand", sans-serif;
      h1 {
        margin: 0 auto;
        width: 80%;
        font-size: $base-font-size*2.4;
        margin-top: 1em;
        strong {
          font-weight: 600;
        }
        @media #{$mq-medium} {
          font-size: $base-font-size*2.6;
        }
      }

      p {
        margin: 30px 0 30px 0;
        font-size: $base-font-size*1.2;
        line-height: 1.75em;
        strong {
          font-weight: 600;
        }
        @media #{$mq-medium} {
          font-size: $base-font-size*1.6;
        }
      }
      a {
        margin: 0 auto;
        position: relative;
        display: block;
        width: 80%;
        color: #fff;
        text-decoration: none;
        outline: 0px;
        font-weight: 600;
        border-radius: 8px;
        height: 2.5em;
        line-height: 2.5em;
        padding: 0 1.25em;
        background-color: rgb(42, 119, 207);
        text-shadow: none;
        box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
        font-size: $base-font-size*1.2;

        @media #{$mq-medium} {
          width: 60%;
          font-size: $base-font-size*1.5;
        }
      }
    }
  }
}

/* Sections */
// wrapper style2

#skills {
  padding: 4em 0 3em 0;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  background-image: url(images/bg.png);
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05),
    inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);

  .wrapper.style2 {
    background-color: #fafafa;
    text-shadow: 1px 1px 0px #fff;
  }
  .container {
    width: 90%;
    margin-left: 0;
    margin: 0 auto;
    
    @media #{$mq-medium} {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__header {
      margin-bottom: 60px;

      @media #{$mq-medium} {
        width: 100%;
      }

      h2 {
        font-size: $base-font-size*1.9;
        font-weight: 600;

        @media #{$mq-medium} {
          font-size: $base-font-size*2.3;
        }
      }
    }

    &__cardbox {
      font-family: "Quicksand", sans-serif;
      background: #fff;
      box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15),
        0px 2px 3px 0px rgba(0, 0, 0, 0.1);
      text-align: center;
      padding: 30px 20px 30px 20px;
      margin: 0 auto;
      margin-bottom: 20px;

      @media #{$mq-medium} {
        width: 48%;
      }

      h3 {
        margin: 0 auto;
        width: 80%;
        font-size: $base-font-size*2.4;
        margin-top: 1em;
        strong {
          font-weight: 600;
        }
        @media #{$mq-medium} {
          font-size: $base-font-size*2.6;
        }
      }

      p {
        margin: 30px 0 30px 0;
        font-size: $base-font-size*1.2;
        line-height: 1.75em;

        @media #{$mq-medium} {
          font-size: $base-font-size*1.6;
        }
      }
    }
    &__footer {
      @media #{$mq-medium} {
        width: 100%;
      }
      p {
        color: #888;
        margin: 40px 0 0 0;
        font-family: "Quicksand", sans-serif;
        line-height: 1.75em;
        font-size: $base-font-size*1.2;

        @media #{$mq-medium} {
          width: 70%;
          margin: 0 auto;
          font-size: $base-font-size*1.6;
        }

        strong {
          font-weight: 600;
        }
      }
    }
  }
}

// Portfolio

#portfolio {
  padding: 4em 0 1em 0;
  text-align: center;
  background-image: url(images/bg.png);
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05),
    inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);

  .wrapper.style3 {
    background-color: #fafafa;
    text-shadow: 1px 1px 0px #fff;
  }
  .container {
    width: 90%;
    margin-left: 0;
    margin: 0 auto;
    font-family: "Quicksand", sans-serif;

    @media #{$mq-medium} {
      display: flex;
      flex-wrap: wrap;
    }

    &__header {
      margin-bottom: 60px;
      @media #{$mq-medium} {
        width: 100%;
      }

      h2 {
        font-size: $base-font-size*1.9;
        font-weight: 600;

        @media #{$mq-medium} {
          font-size: $base-font-size*2.3;
        }
      }
    }

    &__cardbox {
      background: #fff;
      box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15),
        0px 2px 3px 0px rgba(0, 0, 0, 0.1);
      text-align: center;
      margin: 0 auto;
      margin-bottom: 30px;
      @media #{$mq-medium} {
        width: 48%;
      }

      h3 {
        margin: 0 auto;
        width: 80%;
        font-size: $base-font-size*2.4;
        margin-top: 1em;
        strong {
          font-weight: 600;
        }
        @media #{$mq-medium} {
          font-size: $base-font-size*2.6;
        }
      }

      p {
        margin: 30px 0 30px 0;
        font-size: $base-font-size*1.2;
        line-height: 1.75em;

        @media #{$mq-medium} {
          font-size: $base-font-size*1.6;
        }
      }
      &__workimage {
        width: 100%;
        position: relative;
        img {
          margin: 0 auto;
          width: 100%;
        }
      }
      &__work {
        padding: 15px 40px 15px 40px;
        margin: 0 auto;
      }
    }
  }
}

// contacts

#contact {
  background-color: #303030;
  color: #999;
  text-shadow: -1px -1px 0px #181818;
  margin: 0 auto;
  font-family: "Quicksand", sans-serif;
  background-image: url(images/bg.png);
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05),
    inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);

  .container {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;

    hr {
      border: solid 1px #444;
      border-top-color: rgba(0, 0, 0, 0.35);
      box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
      height: 1px;
      margin: 1em 0;
      margin-bottom: 1em;
    }

    h3 {
      font-size: $base-font-size*1.7;
      padding: 50px 20px 20px 20px;
      color: #fff;
      font-weight: 600;
      @media #{$mq-medium} {
        font-size: $base-font-size*2;
      }
    }
    .social {
      width: 100%;

      ul {
        margin: 0 auto;
        width: 100%;
        margin-left: 0px;
        margin-bottom: 0;
        list-style: none;
        padding-left: 0;
      }

      li {
        padding-left: 0;
        display: inline-block;

        #git {
          display: block;
          cursor: pointer;
          top: 0;
          position: relative;
          right: 10px;

          &:hover {
            @media #{$mq-medium} {
              top: -5px;
            }
          }
        }

        #lin {
          display: block;
          cursor: pointer;
          top: 0;
          position: relative;

          &:hover {
            @media #{$mq-medium} {
              top: -5px;
            }
          }
        }
      }
    }
  }
  #copyright {
    font-size: $base-font-size*1.2;

    @media #{$mq-medium} {
      font-size: $base-font-size*1.4;
    }
  }
}
