html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  text-shadow: 1px 1px 0px #fff;
  padding-top: 3.5em;
}

@import "_breakpoints.scss";
@import "_hero.scss";
