html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  text-shadow: 1px 1px 0px #fff;
  padding-top: 3.5em;
}

body {
  font-size: 0.8em;
  line-height: 1.5;
}

@media (min-width: 64em) {
  body {
    font-size: 0.96em;
    line-height: 1.8;
  }
}

@media (min-width: 85.375em) {
  body {
    font-size: 1.04em;
  }
}

@media (min-width: 120em) {
  body {
    font-size: 1.12em;
  }
}

@media (min-width: 160em) {
  body {
    font-size: 1.28em;
  }
}

.container {
  margin: 0 4%;
}

@media (min-width: 64em) {
  .container {
    margin: 0 8%;
  }
}

@media (min-width: 85.375em) {
  .container {
    margin: 0 12%;
  }
}

@media (min-width: 120em) {
  .container {
    margin: 0 18%;
  }
}

/* Navigation bar */
#nav {
  background-color: #282828;
  text-align: center;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  cursor: default;
  height: 3.5em;
  line-height: 3.5em;
  font-size: 0.8em;
  font-family: "Quicksand", sans-serif;
  z-index: 9999;
}

@media (min-width: 64em) {
  #nav {
    font-size: 0.96em;
  }
}

@media (min-width: 120em) {
  #nav {
    height: 4.1em;
  }
}

#nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-left: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}

#nav li {
  display: inline-block;
  padding-left: 0;
}

#nav a {
  margin-top: 5px;
  position: relative;
  display: block;
  color: #fff;
  text-decoration: none;
  outline: 0;
  font-weight: 600;
  text-shadow: none;
  border-radius: 8px;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 1.25em;
  font-size: 1.04em;
}

@media (min-width: 48em) {
  #nav a {
    font-size: 1.2em;
  }
}

@media (min-width: 120em) {
  #nav a {
    font-size: 1.44em;
  }
}

@media (min-width: 48em) {
  #nav a:hover {
    color: #fff;
    background: #383838;
  }
}

@media (min-width: 48em) {
  #nav a.active {
    background: #484848;
  }
}

#nav a.active:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.6em;
  left: 50%;
  margin-left: -0.75em;
  border-left: solid 0.75em transparent;
  border-right: solid 0.75em transparent;
  border-top: solid 0.6em #282828;
}

/* Sections */
body > section {
  margin-bottom: 0;
}

#top {
  padding: 6em 0 3em 0;
  text-align: center;
}

@media (min-width: 120em) {
  #top {
    padding: 8em 0 6em 0;
  }
}

#top .container {
  width: 100%;
  margin-left: 0;
  text-align: center;
}

@media (min-width: 48em) {
  #top .container {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 64em) {
  #top .container {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
}

@media (min-width: 120em) {
  #top .container {
    width: 70%;
  }
}

#top .container__image {
  border-radius: 100%;
  width: 20em;
  height: 12em;
  margin: 0 auto;
}

@media (min-width: 64em) {
  #top .container__image {
    display: block;
    position: relative;
    top: 30px;
    width: 26em;
    height: 15.6em;
  }
}

#top .container__image img {
  border-radius: 100%;
  width: 60%;
}

@media (min-width: 120em) {
  #top .container__image img {
    width: 80%;
  }
}

#top .container__info {
  width: 90%;
  margin: 0 auto;
  font-family: "Quicksand", sans-serif;
}

#top .container__info h1 {
  margin: 0 auto;
  width: 80%;
  font-size: 1.92em;
  margin-top: 1em;
}

#top .container__info h1 strong {
  font-weight: 600;
}

@media (min-width: 48em) {
  #top .container__info h1 {
    font-size: 2em;
  }
}

@media (min-width: 120em) {
  #top .container__info h1 {
    font-size: 2.4em;
  }
}

#top .container__info p {
  margin: 30px 0 30px 0;
  font-size: 0.96em;
  line-height: 1.75em;
}

#top .container__info p strong {
  font-weight: 600;
}

@media (min-width: 48em) {
  #top .container__info p {
    font-size: 1.12em;
  }
}

@media (min-width: 64em) {
  #top .container__info p {
    font-size: 1.28em;
  }
}

@media (min-width: 120em) {
  #top .container__info p {
    font-size: 1.6em;
  }
}

#top .container__info a {
  margin: 0 auto;
  position: relative;
  display: block;
  width: 80%;
  color: #fff;
  text-decoration: none;
  outline: 0px;
  font-weight: 600;
  border-radius: 8px;
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 1.25em;
  background-color: #2a77cf;
  text-shadow: none;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
          box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.75);
  font-size: 0.96em;
}

#top .container__info a:hover {
  background-color: #4588d4;
}

@media (min-width: 48em) {
  #top .container__info a {
    width: 60%;
    font-size: 1.2em;
  }
}

@media (min-width: 120em) {
  #top .container__info a {
    width: 40%;
    font-size: 1.52em;
  }
}

/* Sections */
#skills {
  padding: 4em 0 3em 0;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  background-image: url(images/bg.png);
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

@media (min-width: 120em) {
  #skills {
    padding: 8em 0 6em 0;
  }
}

#skills .wrapper.style2 {
  background-color: #fafafa;
  text-shadow: 1px 1px 0px #fff;
}

#skills .container {
  width: 90%;
  margin-left: 0;
  margin: 0 auto;
}

@media (min-width: 48em) {
  #skills .container {
    width: 80%;
  }
}

@media (min-width: 64em) {
  #skills .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 120em) {
  #skills .container {
    width: 90%;
  }
}

#skills .container__header {
  margin-bottom: 60px;
}

@media (min-width: 64em) {
  #skills .container__header {
    width: 100%;
  }
}

@media (min-width: 120em) {
  #skills .container__header {
    margin-bottom: 120px;
  }
}

#skills .container__header h2 {
  font-size: 1.52em;
  font-weight: 600;
}

@media (min-width: 48em) {
  #skills .container__header h2 {
    font-size: 1.68em;
  }
}

@media (min-width: 64em) {
  #skills .container__header h2 {
    font-size: 1.84em;
  }
}

@media (min-width: 120em) {
  #skills .container__header h2 {
    font-size: 2.16em;
  }
}

#skills .container__cardbox {
  font-family: "Quicksand", sans-serif;
  background: #fff;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 30px 20px 30px 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media (min-width: 64em) {
  #skills .container__cardbox {
    width: 48%;
  }
}

@media (min-width: 120em) {
  #skills .container__cardbox {
    width: 45%;
    margin-bottom: 80px;
  }
}

#skills .container__cardbox h3 {
  margin: 0 auto;
  width: 80%;
  font-size: 1.92em;
  margin-top: 1em;
}

#skills .container__cardbox h3 strong {
  font-weight: 600;
}

@media (min-width: 48em) {
  #skills .container__cardbox h3 {
    font-size: 2.08em;
  }
}

@media (min-width: 120em) {
  #skills .container__cardbox h3 {
    font-size: 2.4em;
  }
}

#skills .container__cardbox p {
  margin: 30px 0 30px 0;
  font-size: 0.96em;
  line-height: 1.75em;
}

@media (min-width: 48em) {
  #skills .container__cardbox p {
    font-size: 1.12em;
  }
}

@media (min-width: 64em) {
  #skills .container__cardbox p {
    font-size: 1.28em;
  }
}

@media (min-width: 120em) {
  #skills .container__cardbox p {
    font-size: 1.6em;
  }
}

@media (min-width: 64em) {
  #skills .container__footer {
    width: 100%;
  }
}

#skills .container__footer p {
  color: #888;
  margin: 40px 0 0 0;
  font-family: "Quicksand", sans-serif;
  line-height: 1.75em;
  font-size: 0.96em;
}

@media (min-width: 48em) {
  #skills .container__footer p {
    font-size: 1.12em;
  }
}

@media (min-width: 64em) {
  #skills .container__footer p {
    width: 70%;
    margin: 0 auto;
    font-size: 1.28em;
  }
}

@media (min-width: 120em) {
  #skills .container__footer p {
    font-size: 1.6em;
  }
}

#skills .container__footer p strong {
  font-weight: 600;
}

#portfolio {
  padding: 4em 0 1em 0;
  text-align: center;
  background-image: url(images/bg.png);
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

@media (min-width: 120em) {
  #portfolio {
    padding: 8em 0 6em 0;
  }
}

#portfolio .wrapper.style3 {
  background-color: #fafafa;
  text-shadow: 1px 1px 0px #fff;
}

#portfolio .container {
  width: 90%;
  margin-left: 0;
  margin: 0 auto;
  font-family: "Quicksand", sans-serif;
}

@media (min-width: 48em) {
  #portfolio .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#portfolio .container__header {
  margin-bottom: 60px;
}

@media (min-width: 48em) {
  #portfolio .container__header {
    width: 100%;
  }
}

#portfolio .container__header h2 {
  font-size: 1.52em;
  font-weight: 600;
}

@media (min-width: 48em) {
  #portfolio .container__header h2 {
    font-size: 1.68em;
  }
}

@media (min-width: 64em) {
  #portfolio .container__header h2 {
    font-size: 1.84em;
  }
}

@media (min-width: 120em) {
  #portfolio .container__header h2 {
    font-size: 2.16em;
  }
}

#portfolio .container__cardbox {
  background: #fff;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media (min-width: 48em) {
  #portfolio .container__cardbox {
    width: 48%;
  }
}

@media (min-width: 120em) {
  #portfolio .container__cardbox {
    width: 30%;
  }
}

#portfolio .container__cardbox h3 {
  margin: 0 auto;
  width: 80%;
  font-size: 1.92em;
  margin-top: 1em;
}

#portfolio .container__cardbox h3 strong {
  font-weight: 600;
}

@media (min-width: 48em) {
  #portfolio .container__cardbox h3 {
    font-size: 2em;
  }
}

@media (min-width: 64em) {
  #portfolio .container__cardbox h3 {
    font-size: 2.08em;
  }
}

@media (min-width: 120em) {
  #portfolio .container__cardbox h3 {
    font-size: 2.4em;
  }
}

#portfolio .container__cardbox p {
  margin: 30px 0 30px 0;
  font-size: 0.96em;
  line-height: 1.75em;
}

@media (min-width: 48em) {
  #portfolio .container__cardbox p {
    font-size: 1.12em;
  }
}

@media (min-width: 64em) {
  #portfolio .container__cardbox p {
    font-size: 1.28em;
  }
}

@media (min-width: 120em) {
  #portfolio .container__cardbox p {
    font-size: 1.6em;
  }
}

#portfolio .container__cardbox__workimage {
  width: 100%;
  position: relative;
}

#portfolio .container__cardbox__workimage img {
  margin: 0 auto;
  width: 100%;
}

#portfolio .container__cardbox__work {
  padding: 15px 40px 15px 40px;
  margin: 0 auto;
}

#contact {
  background-color: #303030;
  color: #999;
  text-shadow: -1px -1px 0px #181818;
  margin: 0 auto;
  font-family: "Quicksand", sans-serif;
  background-image: url(images/bg.png);
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

@media (min-width: 120em) {
  #contact {
    padding: 2em 0 2em 0;
  }
}

#contact .container {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 30px;
}

#contact .container hr {
  border: solid 1px #444;
  border-top-color: rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
  height: 1px;
  margin: 1em 0;
  margin-bottom: 1em;
}

#contact .container h3 {
  font-size: 1.36em;
  padding: 50px 20px 20px 20px;
  color: #fff;
  font-weight: 600;
}

@media (min-width: 48em) {
  #contact .container h3 {
    font-size: 1.52em;
  }
}

@media (min-width: 64em) {
  #contact .container h3 {
    font-size: 1.6em;
  }
}

@media (min-width: 120em) {
  #contact .container h3 {
    font-size: 1.92em;
  }
}

#contact .container .social {
  width: 100%;
}

#contact .container .social ul {
  margin: 0 auto;
  width: 100%;
  margin-left: 0px;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}

#contact .container .social li {
  padding-left: 0;
  display: inline-block;
}

#contact .container .social li #git {
  display: block;
  cursor: pointer;
  top: 0;
  position: relative;
  right: 10px;
  width: 50px;
  height: 50px;
}

@media (min-width: 48em) {
  #contact .container .social li #git {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 64em) {
  #contact .container .social li #git {
    width: 75px;
    height: 75px;
  }
}

@media (min-width: 120em) {
  #contact .container .social li #git {
    width: 110px;
    height: 110px;
  }
}

@media (min-width: 64em) {
  #contact .container .social li #git:hover {
    top: -5px;
  }
}

#contact .container .social li #lin {
  display: block;
  cursor: pointer;
  top: 0;
  position: relative;
  width: 50px;
  height: 50px;
}

@media (min-width: 48em) {
  #contact .container .social li #lin {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 64em) {
  #contact .container .social li #lin {
    width: 75px;
    height: 75px;
  }
}

@media (min-width: 120em) {
  #contact .container .social li #lin {
    width: 110px;
    height: 110px;
  }
}

@media (min-width: 64em) {
  #contact .container .social li #lin:hover {
    top: -5px;
  }
}

#contact #copyright {
  font-size: 0.96em;
}

@media (min-width: 48em) {
  #contact #copyright {
    font-size: 1.12em;
  }
}

@media (min-width: 120em) {
  #contact #copyright {
    font-size: 1.44em;
  }
}
/*# sourceMappingURL=main.css.map */